<div class="container" style="background-color: rgb(255, 255, 255);">
    <div style="text-align: center;">
        <h3><strong>Quiz Questions</strong></h3>
        <div style="background-color: rgb(223, 221, 221); color: rgb(8, 8, 107); padding: 5px;" *ngIf="isFinished">
            <h4><strong>You got {{ countAnswers }} out of {{ Answers.length }}</strong></h4>
            <h2>{{ QuizTotal }} % </h2>
        </div>
    </div>
    <hr>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
        <ul *ngFor="let question of Questions, let i = index">
            <li><h4>{{ i + 1}}. {{ question.qtn}}</h4></li>
            <ul *ngFor="let answer of question.answers">
                <li>
                    <div class="radio">
                        <input type="radio" ngModel [name]="answer.whichQtn" [value]="answer.id">&nbsp;
                        {{ answer.text}}
                    </div>                    
                </li>
            </ul>
            <h4 *ngIf="isFinished"><i style="color: rgb(0, 17, 255);">correct answer is {{question.correctAns.text}}</i></h4>
        </ul>
        <div class="form-group" style="text-align: right;">
            <button type="button" (click)="onReset()" class="btn btn-warning" [disabled]="!isFinished">Reset</button> |
            <button type="submit" class="btn btn-primary" [disabled]="isFinished">Submit</button>
        </div>
    </form>
    <hr>
    <div style="text-align: center;">
        <div style="background-color: rgb(223, 221, 221); color: rgb(8, 8, 107); padding: 5px;" *ngIf="isFinished">
            <h4><strong>You got {{ countAnswers }} out of {{ Answers.length }}</strong></h4>
            <h2>{{ QuizTotal }} % </h2>
        </div>
    </div>
    <br>
</div>
